<tr {{action "openDetails"}}>
  <td>{{move.id}}</td>
  <td>{{move.name}}</td>
  <td>{{move.power}}</td>
  <td>{{move.pp}}</td>
  <td>{{move.accuracy}}</td>
  <td>{{move.moveType}}</td>
  <td>{{move.damageClass}}</td>
</tr>
