<table>

  <thead>
    <tr>
      <th>ID</th>
      <th>Move</th>
      <th>Power</th>
      <th>PP</th>
      <th>Accuracy</th>
      <th>Type</th>
      <th>Damage Class</th>
    </tr>
  </thead>

  <tbody>

    {{#each model as |move|}}
      {{move-row move=move boop=(action "test")}}
    {{/each}}
  </tbody>

</table>

{{#link-to "moves" (query-params offset=pagination.previousOffset limit=pagination.previousLimit) }} Previous
{{/link-to}}

{{#link-to "moves" (query-params offset=pagination.nextOffset limit=pagination.nextLimit) }} Next {{/link-to}}


<h3>Previous Offset: {{pagination.previousOffset}}</h3>
<h3>Previous Limit: {{pagination.previousLimit}}</h3>
<h3>Count: {{pagination.count}}</h3>
<h3>Next Offset: {{pagination.nextOffset}}</h3>
<h3>Next Limit: {{pagination.nextLimit}}</h3>
