<table>

  <thead>
    <tr>
      <th>ID</th>
      <th>Move</th>
      <th>Power</th>
      <th>PP</th>
      <th>Accuracy</th>
      <th>Type</th>
      <th>Damage Class</th>
    </tr>
  </thead>

  <tbody>

    {{#each model as |move|}}
      {{move-row move=move openDetails=(action "openDetails")}}
    {{/each}}
  </tbody>

</table>

<div class="pagination-footer">
  {{#link-to "moves" (query-params offset=pagination.previousOffset limit=pagination.previousLimit) class=(if (equals pagination.currentOffset "0") 'red' '')}} Previous
  {{/link-to}}
  <div>{{off-by-one pagination.currentOffset}} - {{pagination.nextOffset}} of {{pagination.count}} Moves</div>
  {{#link-to "moves" (query-params offset=pagination.nextOffset limit=pagination.nextLimit) }} Next {{/link-to}}
</div>

{{outlet}}
